In [1]:
import math
import pandas as pd # importing the required libraries
import numpy as np

Working on common constants

In [2]:
k= 1.380649*(math.pow(10, -23))
k # boltzman's constant in j/K

1.380649e-23

In [3]:
p_e = 100 # Electron pressure in units of Pa or J/m^3
p_e

100

In [4]:
s_1 = 2*k/(p_e)
s_1

2.761298e-25

In [5]:

m_e =9.10938*(math.pow(10, -31))
m_e # rest mass of electron

9.10938e-31

In [6]:

h =6.62607015*(math.pow(10, -34)) # planck's constant in J/second
h_1 = math.pow(h, 2) # sqaure of planck's constant
h_1

4.390480563272102e-67

In [7]:

s = (2*math.pi*m_e*k)/(h_1)
s_2 = math.pow(s, 1.5)
s_2

2.414681567801428e+21

In [8]:
s_1_2=s_1*s_2
s_1_2

0.0006667655383806949

  Ionisation Energy

In [9]:
x_1 = 7
x_2 = 16
x_3 = 31
x_4 = 51
[x_1, x_2, x_3, x_4]

[7, 16, 31, 51]

In [10]:
K = 8.617333262*(math.pow(10, -5))
K # boltzmann constant in ev per Kelvin

8.617333262000001e-05

In [11]:
def s_3(x_1, T):
  s_3 = np.exp(-x_1/(K*T))
  return (s_3)*(math.pow(T, 2.5))

In [12]:
def F(T):
  x= s_1_2*(s_3(7, T))
  y= (s_3(16, T))*s_1_2
  z= (s_3(31, T))*s_1_2
  g= 1/(1+((1 + y+(z*y))*x))
  return g

In [13]:
F(5000)

0.9060570408332176

In [14]:
F(10000)

0.00047791171989826017

In [15]:
F(20000)

2.7757175528821564e-10

In [16]:
T=[5000, 10000, 20000]
g=pd.DataFrame(data= T)
g.columns = ["Temp"]
g["N1/N_tot"]=[F(5000), F(10000), F(20000)]

In [17]:
g

    Temp      N1/N_tot
0   5000  9.060570e-01
1  10000  4.779117e-04
2  20000  2.775718e-10

Since, we undertood N_tot is common in rest of the table; let's find $N_{tot}$

In [18]:
def N(T): # N_tot for any given temperature
  x= s_1_2*(s_3(7, T))
  y= (s_3(16, T))*s_1_2
  z= (s_3(31, T))*s_1_2
  g= (1+((1 + y+(z*y))*x))
  return g

Let's write a code for $N2/N_{tot}$

In [19]:
def N2(T):
  return (s_1_2*(s_3(7, T)))/N(T)

In [20]:
N2(5000)

0.09394295915852251

In [21]:
g["N2/N_tot"]= [N2(5000), N2(10000), N2(20000)]
g

    Temp      N1/N_tot  N2/N_tot
0   5000  9.060570e-01  0.093943
1  10000  4.779117e-04  0.945096
2  20000  2.775718e-10  0.000180

Let's write for $N3/N_{tot}$

In [31]:
def N3(T):
  x= s_1_2*(s_3(7, T))
  y= (s_3(16, T))*s_1_2
  return x*y

In [32]:
def N_3_3(T):
  return N3(T)/N(T)

In [33]:
N_3_3(5000)

8.25985073052546e-12

In [34]:
g["N3/N_tot"]= [N_3_3(5000), N_3_3(10000), N_3_3(20000)]
g

    Temp      N1/N_tot  N2/N_tot      N3/N_tot
0   5000  9.060570e-01  0.093943  8.259851e-12
1  10000  4.779117e-04  0.945096  5.442572e-02
2  20000  2.775718e-10  0.000180  6.320139e-01

Similarly, let's compute the last term, $N4/N_{tot}$

In [35]:
def N_4(T):
  x= s_1_2*(s_3(7, T))
  y= (s_3(16, T))*s_1_2
  z= (s_3(31, T))*s_1_2
  return x*y*z

In [36]:
def N_4_4(T):
  return N_4(T)/N(T)

In [37]:
g["N4/N_tot"]= [N_4_4(5000), N_4_4(10000), N_4_4(20000)]
g

    Temp      N1/N_tot  N2/N_tot      N3/N_tot      N4/N_tot
0   5000  9.060570e-01  0.093943  8.259851e-12  5.517541e-37
1  10000  4.779117e-04  0.945096  5.442572e-02  8.639029e-11
2  20000  2.775718e-10  0.000180  6.320139e-01  3.678058e-01

In [39]:
gn =g.transpose()
gn.columns = ["T= 5000K", "T= 10,000K", "T= 20,000K"]
gn.head()

              T= 5000K    T= 10,000K    T= 20,000K
Temp      5.000000e+03  1.000000e+04  2.000000e+04
N1/N_tot  9.060570e-01  4.779117e-04  2.775718e-10
N2/N_tot  9.394296e-02  9.450964e-01  1.803022e-04
N3/N_tot  8.259851e-12  5.442572e-02  6.320139e-01
N4/N_tot  5.517541e-37  8.639029e-11  3.678058e-01

In [40]:
gnn=gn.iloc[1:, :]
gnn

              T= 5000K    T= 10,000K    T= 20,000K
N1/N_tot  9.060570e-01  4.779117e-04  2.775718e-10
N2/N_tot  9.394296e-02  9.450964e-01  1.803022e-04
N3/N_tot  8.259851e-12  5.442572e-02  6.320139e-01
N4/N_tot  5.517541e-37  8.639029e-11  3.678058e-01