In [ ]:
import math # import library 
import pandas as pd
import numpy as np

Importing the dataframe from 2.2.3 question

In [11]:
g = pd.read_csv("gn.csv")
g

   Unnamed: 0   Temp      N1/N_tot  N2/N_tot      N3/N_tot      N4/N_tot
0           0   5000  9.060570e-01  0.093943  8.259851e-12  5.517541e-37
1           1  10000  4.779117e-04  0.945096  5.442572e-02  8.639029e-11
2           2  20000  2.775718e-10  0.000180  6.320139e-01  3.678058e-01

Importing $Z_i$ from 2.2.1 python file

In [17]:
Z_1_1 = 1.108875 # Z_i at temperature 5000K 
Z_1_2= 1.456335 # Z_i at temperature 10,000K
Z_1_3= 2.271550 # Z_i at temperature 20,000K

In [19]:
(2.775718*(math.pow(10, -10)))/(Z_1_3)

1.2219488895247738e-10

In [20]:
g["Z_i at temp"]=[Z_1_1, Z_1_2, Z_1_3 ]

In [22]:
g

,Unnamed: 0,Temp,N1/N_tot,N2/N_tot,N3/N_tot,N4/N_tot,Z_i at temp
0,0,5000,9.060570e-01,0.093943,8.259851e-12,5.517541e-37,1.108875
1,1,10000,4.779117e-04,0.945096,5.442572e-02,8.639029e-11,1.456335
2,2,20000,2.775718e-10,0.000180,6.320139e-01,3.678058e-01,2.271550

In [25]:
g["Ns/N_tot at i =1"]= g["N1/N_tot"]/(g["Z_i at temp"])
g["Ns/N_tot at i =2"]= g["N2/N_tot"]/(g["Z_i at temp"])
g["Ns/N_tot at i =3"]= g["N3/N_tot"]/(g["Z_i at temp"])
g["Ns/N_tot at i =4"]= g["N4/N_tot"]/(g["Z_i at temp"])

In [26]:
g

,Unnamed: 0,Temp,N1/N_tot,N2/N_tot,N3/N_tot,N4/N_tot,Z_i at temp,Ns/N_tot at i =1,Ns/N_tot at i =2,Ns/N_tot at i =3,Ns/N_tot at i =4
0,0,5000,9.060570e-01,0.093943,8.259851e-12,5.517541e-37,1.108875,8.170957e-01,0.084719,7.448856e-12,4.975801e-37
1,1,10000,4.779117e-04,0.945096,5.442572e-02,8.639029e-11,1.456335,3.281606e-04,0.648955,3.737170e-02,5.932034e-11
2,2,20000,2.775718e-10,0.000180,6.320139e-01,3.678058e-01,2.271550,1.221949e-10,0.000079,2.782302e-01,1.619184e-01

In [27]:
gn = g[['Temp', 'Ns/N_tot at i =1','Ns/N_tot at i =2', 'Ns/N_tot at i =3', 'Ns/N_tot at i =4' ]].copy()
gn

,Temp,Ns/N_tot at i =1,Ns/N_tot at i =2,Ns/N_tot at i =3,Ns/N_tot at i =4
0,5000,8.170957e-01,0.084719,7.448856e-12,4.975801e-37
1,10000,3.281606e-04,0.648955,3.737170e-02,5.932034e-11
2,20000,1.221949e-10,0.000079,2.782302e-01,1.619184e-01

In [31]:
gna=gn.transpose()
gna.columns= [ "T =5000K", "T = 10,000K", "T = 20,000K"]
gna

                      T =5000K   T = 10,000K   T = 20,000K
Temp              5.000000e+03  1.000000e+04  2.000000e+04
Ns/N_tot at i =1  8.170957e-01  3.281606e-04  1.221949e-10
Ns/N_tot at i =2  8.471916e-02  6.489553e-01  7.937409e-05
Ns/N_tot at i =3  7.448856e-12  3.737170e-02  2.782302e-01
Ns/N_tot at i =4  4.975801e-37  5.932034e-11  1.619184e-01

In [32]:
gna.iloc[1:, :]

                      T =5000K   T = 10,000K   T = 20,000K
Ns/N_tot at i =1  8.170957e-01  3.281606e-04  1.221949e-10
Ns/N_tot at i =2  8.471916e-02  6.489553e-01  7.937409e-05
Ns/N_tot at i =3  7.448856e-12  3.737170e-02  2.782302e-01
Ns/N_tot at i =4  4.975801e-37  5.932034e-11  1.619184e-01