In [17]:
import math
import numpy as np
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Creating the dataframe for different temperature

In [18]:
T= [5000, 10000, 20000]

In [19]:
g= pd.DataFrame(data = T)

In [20]:
g.columns = ["T in Kelvin"]

In [21]:
g

   T in Kelvin
0         5000
1        10000
2        20000

Applying the Z

In [22]:
K = 8.617333262*(math.pow(10, -5)) # defining the boltzman constant in ev
K

8.617333262000001e-05

In [23]:
g["Z_1"]= 1/(1-np.exp(-1/(K*(g["T in Kelvin"]))))
g["Z_2"]= 1/(1-np.exp(-1/(K*(g["T in Kelvin"]))))
g["Z_3"]= 1/(1-np.exp(-1/(K*(g["T in Kelvin"]))))
g["Z_4"]= 1/(1-np.exp(-1/(K*(g["T in Kelvin"]))))

In [24]:
g

   T in Kelvin       Z_1       Z_2       Z_3       Z_4
0         5000  1.108875  1.108875  1.108875  1.108875
1        10000  1.456335  1.456335  1.456335  1.456335
2        20000  2.271550  2.271550  2.271550  2.271550